[include]
    path = ~/config/gitconfig
[merge "ours"]
	driver = true
[alias]
    p = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    c = "!git add -A && git commit -m "
    new-branch = "!git checkout main && git pull && git checkout -b "
    co = "!git checkout "
    todo = !git diff main..$(git rev-parse --abbrev-ref HEAD) | grep "^+.*TODO"
    todo-file = ! git diff main..$(git rev-parse --abbrev-ref HEAD) -GTODO --compact-summary
[pull]
	rebase = true
[core]
	excludesfile = /home/bader/.gitignore
